# Progetto di Foundation of Computer Science

## Autore: Andrea Corvaglia 
### Matricola : 802487

## Esercizio 1

#### Convert the app sizes to a number

In [729]:
import numpy as np
import pandas as pd
import re
df=pd.read_csv("googleplaystore.csv")

In [730]:
df["Size"].unique()[:50]

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M'],
      dtype=object)

Elimino la riga con 1000+ come size perchè ha tutti gli attributi sbagliati

In [731]:
todrop=df[df.Size=='1,000+'].index
df=df.drop(todrop).reset_index(drop=True)

Sono presenti dimensione misurate con unità diverse, quindi per prima cosa vanno convertiti i record nella stessa unità di misura

In [732]:
def MtoK(m):
# Funzione che prende re.match e restituisce una stringa con Mb convertiti in Kb
    #print(m.group(1))
    a = float(m.group(1))
    return str(a*1024)+'k'

In [733]:
df["Size"]= [re.sub("(\d+\.*\d*)M", MtoK, record) for record in df.Size ]

A questo punto vado a convertire tutto in int

In [734]:
def fun(record):
    temp = re.findall("(\d+)",record)
    if temp: return float(temp[0]) 
    # condizione necessaria vista la presenza della risposta 'varies with devices' -> findall restituisce []
    else: return record

In [735]:
df["Size"]= [fun(record) for record in df.Size ]

In [736]:
df.rename(columns={"Size":"Size (kB)"},inplace=True)
df["Size (kB)"].head(3)

0    19456
1    14336
2     8908
Name: Size (kB), dtype: object

## Esercizio 2

#### Convert the number of installs to a number

In [737]:
df.Installs.unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0'], dtype=object)

Estraggo i gruppi di numeri separati in base alla virgola e li ricongiungo con join

In [738]:
df.Installs=[int("".join(re.findall("\d",record))) for record in df.Installs]
df.Installs.head(5)

0       10000
1      500000
2     5000000
3    50000000
4      100000
Name: Installs, dtype: int64

## Esercizio 3

#### Transform “Varies with device” into a missing value

In [739]:
df=df.replace(to_replace="Varies with device",value=np.NaN)

In [740]:
np.isnan(df["Size (kB)"]).sum()

1695

## Esercizio 4

#### Convert Current Ver and Android Ver into a dotted number (e.g. 4.0.3 or 4.2)

In [741]:
df["Android Ver"].unique()

array(['4.0.3 and up', '4.2 and up', '4.4 and up', '2.3 and up',
       '3.0 and up', '4.1 and up', '4.0 and up', '2.3.3 and up', nan,
       '2.2 and up', '5.0 and up', '6.0 and up', '1.6 and up',
       '1.5 and up', '2.1 and up', '7.0 and up', '5.1 and up',
       '4.3 and up', '4.0.3 - 7.1.1', '2.0 and up', '3.2 and up',
       '4.4W and up', '7.1 and up', '7.0 - 7.1.1', '8.0 and up',
       '5.0 - 8.0', '3.1 and up', '2.0.1 and up', '4.1 - 7.1.1',
       '5.0 - 6.0', '1.0 and up', '2.2 - 7.1.1', '5.0 - 7.1.1'],
      dtype=object)

In [812]:
df["Current Ver"].unique()[:20]

array([nan, '10.322.16', '1.90.0', '4.6.6', '2.3.2', '1.129.0.2',
       '12.8.5.1121', '4.8.0.132', '4.0.0', '4.8.7.8', '3.1.2', '1.9.38',
       '1.4.77', '0.111.3', '1', '5.064', '3.7.2.51', '7.2.1', '1.37.2',
       '3.7.1'], dtype=object)

In [743]:
def funfun(record):
    version=re.compile("^(\d+\.*\d*\.*\d*\.*\d*)")
    if pd.isna(record): return record
    else:
        temp=version.findall(record)
        if temp: return temp[0]
        else: return record

df["Current Ver"]=[funfun(record) for record in df["Current Ver"]]
df["Android Ver"]=[funfun(record) for record in df["Android Ver"]]

In [744]:
df.head()

,App,Category,Rating,Reviews,Size (kB),Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19456.0,10000,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14336.0,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8908.0,5000000,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25600.0,50000000,Free,0,Teen,Art & Design,"June 8, 2018",NaN,4.2
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2867.0,100000,Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4

## Esercizio 5

#### Remove the duplicates

In [745]:
df[df.App=='Google My Business']
# esempio di un duplicato perfetto (tutte le var uguali)

,App,Category,Rating,Reviews,Size (kB),Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
193,Google My Business,BUSINESS,4.4,70991,NaN,5000000,Free,0,Everyone,Business,"July 24, 2018",2.19.0.204537701,4.4
239,Google My Business,BUSINESS,4.4,70991,NaN,5000000,Free,0,Everyone,Business,"July 24, 2018",2.19.0.204537701,4.4
268,Google My Business,BUSINESS,4.4,70991,NaN,5000000,Free,0,Everyone,Business,"July 24, 2018",2.19.0.204537701,4.4

In [746]:
# Duplicati perfetti
df[df.duplicated()].shape[0]

483

In [747]:
# App doppie (App unico attibuto ripetuto)
df[df.duplicated('App')].shape[0]

1181

In [748]:
df[df.App=='Farm Heroes Saga']
# Quello che cambia è raramente la versione corrente, più spesso il numero di Reviews, sintomo del fatto che i
# doppioni derivano da dati presi in momenti diversi. Il più recente naturalmente avrà un numero maggiore di review

,App,Category,Rating,Reviews,Size (kB),Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1695,Farm Heroes Saga,GAME,4.4,7614130,71680.0,100000000,Free,0,Everyone,Casual,"July 26, 2018",5.1.8,2.3
1733,Farm Heroes Saga,GAME,4.4,7614271,71680.0,100000000,Free,0,Everyone,Casual,"July 26, 2018",5.1.8,2.3
1880,Farm Heroes Saga,GAME,4.4,7614415,71680.0,100000000,Free,0,Everyone,Casual,"July 26, 2018",5.1.8,2.3
2011,Farm Heroes Saga,GAME,4.4,7614407,71680.0,100000000,Free,0,Everyone,Casual,"July 26, 2018",5.1.8,2.3
10186,Farm Heroes Saga,FAMILY,4.4,7615646,72704.0,100000000,Free,0,Everyone,Casual,"August 7, 2018",5.2.6,2.3

In [749]:
df.Reviews.unique()

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

In [750]:
# Converto l'attributo Reviews in int così da poterlo ordinare
df.Reviews=pd.to_numeric(df.Reviews)

In [751]:
df=df.sort_values('Reviews',ascending=False)

In [752]:
df=df.drop_duplicates(subset='App').reset_index(drop=True)

In [753]:
df[df.duplicated('App')].shape[0]
# ok!

0

## Esercizio 6

#### For each category, compute the number of apps

In [754]:
df.groupby("Category")["App"].count()[:10]

Category
ART_AND_DESIGN          61
AUTO_AND_VEHICLES       85
BEAUTY                  53
BOOKS_AND_REFERENCE    222
BUSINESS               420
COMICS                  56
COMMUNICATION          315
DATING                 170
EDUCATION              107
ENTERTAINMENT           87
Name: App, dtype: int64

## Esercizio 7

#### For each category, compute the average rating

In [755]:
df.groupby("Category")["Rating"].mean()[:10]

Category
ART_AND_DESIGN         4.359322
AUTO_AND_VEHICLES      4.190411
BEAUTY                 4.278571
BOOKS_AND_REFERENCE    4.344970
BUSINESS               4.098479
COMICS                 4.181481
COMMUNICATION          4.121484
DATING                 3.980451
EDUCATION              4.354717
ENTERTAINMENT          4.129885
Name: Rating, dtype: float64

## Esercizio 8

#### Create two dataframes: one for the genres and one bridging apps and genres. So that, for instance, the app Pixel Draw - Number Art Coloring Book appears twice in the bridging table, once for Art & Design, once for Creativity

Creo per prima la tabella dei generi (genres) e a partire da questa la tabella ponte tra la tabella delle app e dei genrei (bridge). Nel mezzo la tabella temp (temporanea) serve per esplicitare il procedimento

In [756]:
# Tabella dei generi
df['SplitGenres'] = [record.split(';') for record in df['Genres']] # creo variabile con lista di generi
genres = df.SplitGenres.apply(pd.Series).rename(columns = {0:'Primo_genere', 1:'Secondo_genere'})  
genres.head()

    Primo_genere Secondo_genere
0         Social            NaN
1  Communication            NaN
2         Social            NaN
3  Communication            NaN
4       Strategy            NaN

In [757]:
# Unisco l'attributo App ai generi e uso la funzione melt che esprime la tabella in formato long invece di wide ovvero
# un attributo usato come identificatore (App) e le altre sono espresse mediantte un attributo 'variabile' e il suo valore
temp=genres.merge(df.App, right_index = True, left_index = True).melt('App', value_name = "Genere")
temp[temp.App=='Pixel Draw - Number Art Coloring Book']

                                         App        variable        Genere
4831   Pixel Draw - Number Art Coloring Book    Primo_genere  Art & Design
14490  Pixel Draw - Number Art Coloring Book  Secondo_genere    Creativity

In [758]:
bridge = temp[['App','Genere']]
bridge[bridge.App=='Pixel Draw - Number Art Coloring Book']

                                         App        Genere
4831   Pixel Draw - Number Art Coloring Book  Art & Design
14490  Pixel Draw - Number Art Coloring Book    Creativity

## Esercizio 9

#### For each genre, create a new column of the original dataframe.
#### The new columns must have boolean values (True if the app has a given genre)

In [759]:
a=pd.get_dummies(bridge.Genere).merge(bridge.App, right_index = True, left_index = True)

In [760]:
a=a.groupby('App').sum().reset_index() # reset altrimenti rimane 'App' come indice

In [761]:
df=pd.merge(df,a,left_on='App',right_on='App')

In [762]:
df.head(2)

,App,Category,Rating,Reviews,Size (kB),Installs,Type,Price,Content Rating,Genres,...,Simulation,Social,Sports,Strategy,Tools,Travel & Local,Trivia,Video Players & Editors,Weather,Word
0,Facebook,SOCIAL,4.1,78158306,NaN,1000000000,Free,0,Teen,Social,...,0,1,0,0,0,0,0,0,0,0
1,WhatsApp Messenger,COMMUNICATION,4.4,69119316,NaN,1000000000,Free,0,Everyone,Communication,...,0,0,0,0,0,0,0,0,0,0

In [763]:
# In particolare, confrontando il risultato per la solita app:

df[df.App=='Pixel Draw - Number Art Coloring Book'][['App','Art & Design','Creativity','Strategy']]

,App,Art & Design,Creativity,Strategy
4831,Pixel Draw - Number Art Coloring Book,1,1,0

## Esercizio 10

#### For each genre, compute the average rating. What is the genre with highest average?

Correggo a partire dal dataset originale la presenza di diversi generi per app considerando solo il primo

In [764]:
df.Genres=genres.Primo_genere # sfrutto la tabella dei generi di prima

In [765]:
avg_rate=df.groupby("Genres")["Rating"].mean()
avg_rate.head()

Genres
Action             4.247697
Adventure          4.191026
Arcade             4.277838
Art & Design       4.350000
Auto & Vehicles    4.190411
Name: Rating, dtype: float64

In [766]:
avg_rate.sort_values(ascending = False).head(3)

Genres
Events          4.435556
Puzzle          4.370732
Art & Design    4.350000
Name: Rating, dtype: float64

## Esercizio 11

#### For each app, compute the approximate income, obtain as a product of number of installs and price.

In [767]:
df['Price'].unique()[:20]

array(['0', '$6.99', '$0.99', '$2.99', '$1.99', '$2.49', '$4.99', '$5.99',
       '$4.49', '$9.99', '$3.99', '$1.49', '$3.95', '$7.99', '$3.49',
       '$8.99', '$13.99', '$19.99', '$11.99', '$12.99'], dtype=object)

In [768]:
price=re.compile("[^$]+")
df["Price"]=[float(price.findall(record)[0])for record in df.Price]
df.Price.value_counts().head()

,App,Category,Rating,Reviews,Size (kB),Installs,Type,Price,Content Rating,Genres,...,Simulation,Social,Sports,Strategy,Tools,Travel & Local,Trivia,Video Players & Editors,Weather,Word
172,Minecraft,FAMILY,4.5,2376564,NaN,10000000,Paid,6.99,Everyone 10+,Arcade,...,0,0,0,0,0,0,0,0,0,0
660,Hitman Sniper,GAME,4.6,408292,29696.0,10000000,Paid,0.99,Mature 17+,Action,...,0,0,0,0,0,0,0,0,0,0
730,Grand Theft Auto: San Andreas,GAME,4.4,348962,26624.0,1000000,Paid,6.99,Mature 17+,Action,...,0,0,0,0,0,0,0,0,0,0

In [805]:
df["Income"]=(df["Price"]*df["Installs"]).apply(int)
df.Income.unique()[:20]

array([       0, 69900000,  9900000,  6990000,  2990000,  1990000,
        2490000,  4990000,   990000,   495000,  1495000,  2995000,
         449000,  2495000,   499000,  5990000,    99000,   995000,
         999000,   299000], dtype=int64)

## Esercizio 12

#### For each app, compute its minimum and maximum Sentiment_polarity

In [806]:
df2 = pd.read_csv("googleplaystore_user_reviews.csv")

In [807]:
df2.head(3)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN

In [808]:
df2 = df2.dropna()

In [809]:
uno=pd.DataFrame(df2.groupby('App').min()['Sentiment_Polarity'])

In [810]:
due=pd.DataFrame(df2.groupby('App').max()['Sentiment_Polarity'])

In [811]:
uno.merge(due,on='App',suffixes=['_min','_max']).head()

,Sentiment_Polarity_min,Sentiment_Polarity_max
App,,
10 Best Foods for You,-0.8000,1.000000
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,-0.1125,0.910000
11st,-1.0000,1.000000
1800 Contacts - Lens Store,-0.3000,0.838542
1LINE – One Line with One Touch,-0.8250,1.000000